@font-face {
  font-family: "Trirong ExtraLight", serif;
  src: url("Trirong-ExtraLight.ttf");
}

.root {
  -fx-background-color: #282C34;
}

.button {
  -fx-background-color: transparent;
  -fx-border-color: #A3F5E9;
  -fx-border-radius: 20px;
  -fx-border-width: 2.5px;
  -fx-text-color: white;
  -fx-text-fill: white;
}

.button:hover {
  -fx-border-color: #23E7C9;
  -fx-border-radius: 20px;
  -fx-text-fill: white;
}

.button:pressed {
  -fx-border-color: #0C6E5F;
  -fx-border-radius: 20px;
  -fx-text-fill: white;
}

.text-field {
  -fx-background-color: transparent;
  -fx-border-color: #A3F5E9;
  -fx-border-radius: 20px;
  -fx-border-width: 2.5px;
  -fx-text-fill: white;
}

.date-picker {
  -fx-background-color: transparent;
  -fx-text-fill: white;
}

.date-picker .button {
  -fx-border-width: 0px;
  -fx-text-color: black;
  -fx-text-fill: black;
}

.date-picker .label {
  -fx-background-color: transparent;
  -fx-text-fill: black;
}

.label {
  -fx-text-fill: white;
}

.table-view {
  -fx-background-color: white;
}

.table-view:focused {
  -fx-background-color: #D0D0F1;
  -fx-table-row-cell-border-color: #D0D0F1;
}

.table-view .column-header {
  -fx-background-color: #D0D0F1;
  -fx-text-fill: black;
}

.table-view .column-header-background .label {
  -fx-text-fill: black;
}

.table-row-cell:selected {
  -fx-background-color: #D0D0F1;
  -fx-table-cell-border-color: #D0D0F1;
}

.table-row-cell:selected .table-cell {
  -fx-text-fill: black;
  -fx-table-cell-border-color: #D0D0F1;
}

.table-row-cell{
    -fx-background-color: white;
}